
.siteTitle {
    text-align: center;
    font-size: 40px;
}

.flexContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexItem {
    padding: 10px;
    flex-grow: 1;
}

.flexItemInner {
    width: 90%;
    margin: 0 auto;
}

input[type=text] {
    /* margin-left: 5px; */
    width: 100%;
}

input[type=submit]{
    padding: 7px;
}
.inputLabel {
    /* display: inline-block; */
}

.hop {
    /* padding: 10px; */
}

.totalIbu {
    padding: 20px;

}
