
.siteTitle {
    text-align: center;
    font-size: 40px;
}

.flexContaner {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexItem {
    padding: 10px;
    flex-grow: 1;
}

.flexItemInner {
    width: 300px;
    margin: 0 auto;
}

.input {
    padding: 10px;
}
